* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  position: relative;
  display: flex;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.col {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.col__title {
  padding: 10px 15px;
  border-radius: 10px;
  transition: background-color .3s ease-out;
}

.col__title:hover {
  background-color: rgba(0,0,0, .3);
  cursor: pointer;
}

.col__btn {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  font-size: 1.5rem;
  color: #000;
  transition: background-color .3s ease-out;
}

.col__btn:hover {
  background-color: rgba(0,0,0, .3);
  cursor: pointer;
}

.modal {
  position: fixed;
  left: 50%;
  bottom: 10%;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 20px 2px #000;
  transform: translate(-50%, 500px);
  transition: transform .3s ease-in-out;
}

.open {
  transform: translate(-50%, 0);
}
